<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={Plug.CSRFProtection.get_csrf_token()} />
    <.live_title suffix=" · Phoenix Framework">
      <%= assigns[:page_title] || "Frontend" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}></script>
  </head>
  <body class="bg-white antialiased">
    <!-- ▸ global toolbar -->
    <FrontendWeb.NavComponent.nav current_path={@conn.request_path} />

    <!-- ▸ flash messages -->
    <%= if info = Phoenix.Flash.get(@flash, :info) do %>
      <div class="flash flash--approve">
        <%= info %>
      </div>
    <% end %>

    <%= if error = Phoenix.Flash.get(@flash, :error) do %>
      <div class="flash flash--archive">
        <%= error %>
      </div>
    <% end %>

    <%= @inner_content %>
  </body>
</html>