/* components/sprite-player.css */
.clip-display-container {
    margin-left: auto;
    margin-right: auto;
}

.sprite-viewer {
    background-repeat: no-repeat;
    border: 1px solid #cbd5e0;  /* gray-400 */
    background-color: #edf2f7;   /* gray-200 */
    overflow: hidden;
}

.sprite-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 0.5rem;         /* mt-2 */
}

.sprite-controls input[type="range"] {
    margin: 0 0.5rem;           /* mx-2 */
    flex-grow: 1;
}

.sprite-controls span {
    font-size: 0.875rem;        /* text-sm */
    min-width: 70px;
    text-align: right;
}  